body {
  margin: 0;
}

a {
  text-decoration: none;
}

#public-post-content a {
  color: #cf256d;
}

#react-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.disqus-comment-count {
  align-self: flex-end;
}

a:visited .igf-caption {
  color: #3b295a;
}
a:visited .igf-comment {
  color: #fff;
}
a:visited .igf-like {
  color: #fff;
}

a:hover .igf-caption {
  color: #cf256d;
}

.igf-image {
  width: 100%;
  box-shadow: 2px 2px 5px #616161;
  border-radius: 15px;
}

.igf-caption {
  margin: 0;
  background-color: #eeeeee;
  padding: 8px;
  border-radius: 10px;
}
