body {
  margin: 0;
}

a {
  text-decoration: none;
}

#public-post-content a {
  color: #cf256d;
}

#react-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.disqus-comment-count {
  align-self: flex-end;
}
a .igf-caption {
  color: #94d6d6;
}
a:visited .igf-caption {
  color: #94d6d6;
}
a:visited .igf-comment {
  color: #fff;
}
a:visited .igf-like {
  color: #fff;
}

.igf-image {
  width: 100%;
  border: 2px solid #3b295a;
  border-radius: 15px;
}

.igf-comment {
  color: white !important;
  margin-top: -20%;
}

.igf-like {
  color: white !important;
}

.igf-caption {
  margin: 0;
  padding: 8px;
  border-radius: 10px;
}
